@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;

  /* ✅ 기본 배경 이미지 */
  background-image: url("/images/Whiskey.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* 가독성용 오버레이 */
  background-color: #000;
}
